.sticky {
  width: 100%;
}

.sticky .well {
  margin-bottom: 0;
}

html,
body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}

.wizards {
  border: 2px solid #000;
  padding: 0px 25px 30px;
  margin: 20px 0;
}

.wizards #errorpane {
  display: none;
}

.wizards .WindowFrame {
  position: relative;
}

.wizards .BufferWindow {
  padding: 0;
  top: 0 !important;
}

.wizards .GridWindow,
.wizards .MorePrompt {
  display: none;
}

main #transcript {
  margin-bottom: 60px;
  width: 100%;
}
